body {
    background-color: #e5e3e3;
}
h2 {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    font-size: 2em;
    color: #4e4e4e;
    text-shadow: 5px 5px rgba(159, 155, 161, 0.34);
}

.navigationBar {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #555353;
    height: 40px;
    text-align: right;
    text-shadow: none;
    margin: 0 auto;
}

.navigationBar a {
    color: #cdcdcd;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px;
    padding: 5px 10px;
    margin: 20px;
    text-decoration: none;


}

#bookingStartText {
    margin: 200px auto 100px auto;
    text-align: center;
    width: 600px;
    height: auto;
    color: #d9d3d3;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2.5em;
    padding: 10px;
    border-radius: 10px;
    background-color: #679e76;
    box-shadow: 5px 50px 30px #bfcbc3;
}

#greyStrip {
    background-color: #555353;
    height: 40px;
    text-align: left;
    color: #999797;
    text-shadow: none;
}
#navigationBar {
    border: 1px solid black;
    margin: 0 auto;
    display: inline-block;
}

#loginContainer, #signUpContainer{
    width: 500px;
    height: 600px;
    margin: 100px auto;
    background-color: rgba(215, 215, 215, 0.89);
    border-radius: 30px;
    box-shadow: 5px 50px 30px #afafaf;
    border: 1px solid rgba(215, 215, 215, 0.89);
    text-align: center;

}


#loginContainer h2, #signUpContainer h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    color: #555353;

}

input {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    color: #555353;
    text-align: left;



}
#loginContainer #loginTitle, #signUpContainer #signUpTitle {
    font-family: 'Source Sans Pro', sans-serif;
    color: #fcfcfc;
    background-color: #a6d4af;
    margin-top: 30px;
    font-size: 25px;
    box-shadow: 5px 10px 10px #afafaf;
    text-align: center;

}
#footer {
    background-color: #555353;
    height: 40px;
}

button {
    width: 250px;
    height: 50px;
    color: #95e7aa;
    background-color: #828080;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px;
    display: block;
    margin: 50px auto;
    box-shadow: 5px 10px 10px #afafaf;
    border-radius: 10px;
}

#loginContainer {
    height: 400px;
}

.displayedError {
    display: none;
    font-family: 'Source Sans Pro', sans-serif;
    color: #727171;
    background-color: #f1f1f1;
    width: 50%;
    margin: 0 auto;

}