#table {
    text-align: center;
}

#table td {
    border: 1px solid #241f1f;
    width: 50px;
    height: 20px;
}
#table th {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    color: #241f1f;
    border: 1px solid #ea4914;
    width: 50px;
    height: 20px;
    background-color: rgba(255, 176, 142, 0.87);
}

.classroomField {
    border: 1px solid #ea4914;
    font-family: 'Source Sans Pro', sans-serif;
    color: #241f1f;
    background-color: rgba(255, 176, 142, 0.87);
    font-size: 20px;
}

body {
    background-color: #e5e3e3;
}
h2 {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    font-size: 2em;
    color: #4e4e4e;
    text-shadow: 5px 5px rgba(159, 155, 161, 0.34);
}

.booked {
    background-color: #999797;
}



h3 {
    margin: 20px auto;
    text-align: center;
    width: 200px;
    height: 30px;
    color: #241f1f;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5em;
    padding: 10px;
    border-radius: 5px;
    background-color: #ff8139;

}

#navigationBar {
    margin: 20px auto;
    width: 40%;
    text-align: center;
}


.arrow {
    width: 40px;
    height: 40px;
}

.bookByMe {
    background-color: rgba(159, 255, 132, 0.99);
}

.bookedByMe {
    background-color: rgba(71, 182, 42, 0.75);
}
.old {

}