#table {
    text-align: center;
    width: 1000px;
    overflow: scroll;
    margin: 0 auto

}
#greyStrip {
    background-color: #555353;
    height: 40px;
    text-align: left;
    color: #999797;
    text-shadow: none;
    width: 1800px;
    margin: 0 auto;
    position:relative;

}

#logout {
    color: #95e7aa;
    cursor: pointer;
    border: #979797;
    position: absolute;
    right: 200px;
    font-size: 30px;
}

#table td {
    border: 1px solid #241f1f;
    width: 50px;
    height: 20px;
}
#table th {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    color: #241f1f;
    border: 1px solid #558462;
    width: 50px;
    height: 20px;
    background-color: rgb(206, 204, 204);
    box-shadow: 5px 5px 5px #999797;
}

.classroomField {
    border: 1px solid #558462;
    font-family: 'Source Sans Pro', sans-serif;
    color: #241f1f;
    background-color: rgb(208, 207, 207);
    font-size: 20px;
}

body {
    background-color: #e5e3e3;
}
h2 {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    font-size: 2em;
    color: #4e4e4e;
    text-shadow: 5px 5px rgba(159, 155, 161, 0.34);
}

.booked {
    background-color: #b6b6b6;
}



#date {

    text-align: center;
    width: 200px;
    height: 30px;
    color: #d9d3d3;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5em;
    padding: 10px;
    border-radius: 5px;
    background-color: #558462;
    box-shadow: 5px 20px 20px #999797;
}

#stripWelcome {
    width: 1800px;
    margin: 0 auto;
}
#navigationBar {
    margin: 0 auto;
    width: 70%;
    text-align: center;

}


.arrow {
    width: 80px;
    height: 80px;
}

.bookByMe {
    background-color: #95e7aa;
}

.bookedByMe {
    background-color: #558462;
}

#welcome {
    text-align: right;
    margin-right: 200px;
}

#navigationBar .inline {
    display: inline-block;
}