body {
    background-color: #fbf9ff;
}
h1 {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    font-size: 3em;
    color: #501f76;
    text-shadow: 5px 5px rgba(159, 155, 161, 0.34);
}

#container {
    width: 60%;
    margin: 0 auto;
}

#loginContainer {
    width: 80%;
    margin: 0 auto;

}
#loginContainer p {
    font-family: 'Source Sans Pro', sans-serif;
    color: #341449;
    font-size: 1.5em;
    padding: 1em;
    text-align: left;
}

#passwordContainer{
    width: 80%;
    margin: 0 auto;
}

#passwordContainer p {
    font-family: 'Source Sans Pro', sans-serif;
    color: #341449;
    font-size: 1.5em;
    padding: 1em;
    text-align: left;
}

.login {
    display: inline-block;
}

.password {
    display: inline-block;
}
